.SpaceLayer {
    padding: 4rem 0 1rem 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index:2;


}
.Outer {

    background-color:#444653;
    margin-top: 30px;
    display: flex;
    z-index:2;
}

.SidePanelCall {
    font-size: large;
    padding-left: 10%;  
}

.Inner {
    color:white;
}

.MenuBody {
    display: flex;
    justify-content: flex-start;

}

.menuPanel {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 60%;
    margin-left: 10rem;
}

h3 {
    color: rgb(204, 204, 204);
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    cursor: pointer;
}

h3:hover{
    transform: scale(1.5);
}

h3:hover {
    color: rgb(255, 255, 255);
    border: 1px white;
}