.BaseLine {
    width: 50%;

    margin-left: 25%;
    padding-top: 8rem;

}

.PostOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-top: 3rem;

}
.Frame {
    height: 30rem;
}


.VideoMenuOptions {

    list-style: none;	
    padding: 5px;		
    display: flex;
    justify-content: space-between;


}

.VideoMenuOptions li{
    display: inline;
    cursor: pointer;
    margin: 10px;
}

.VideoMenuOptions li:hover {
    background-color: rgb(100, 97, 97);
    border: 1px white;
}

